*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.logo .rosy {
    color: #00FF44;
}

.nav-links li a:hover {
    color: #00FF44; 
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

#search-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00FF44;
    color: #fff;
}


#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.movie-card img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#movie-details {
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}